body {
  background-color: #282c34;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}
.todo {
  width: 80vw;
  height: auto;
  background-color: #181717;
}
.write {
  width: 100vh;
  display: flex;
  flex-direction: row;
  height: 150px;
}
button {
  width: 20vw;
  height: 50px;
}
input {
  width: 50vw;
  height: 45px;
}